.html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: gray;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: 0px;
    overflow: hidden;
}
.table {
    width: 1500px;
    height: 1000px;

    display: flex;
    gap: none;
    flex-wrap: wrap;
    border: 1px solid black;
}

.cell {
    width: 500px;
    height: 333px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-box {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: serif;
}

.location {
    font-size: 18px;
    white-space: nowrap;
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}