html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: gray;
}
.html {
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 0px;
  overflow: hidden;
}
.table {
  width: 1500px;
  height: 1000px;

  display: flex;
  gap: none;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 500px;
  height: 333px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.weather-box {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: serif;
}

.location {
  font-size: 18px;
  white-space: nowrap;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.orb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: lightgray;
  border: black 5px solid;
  animation: breathing 4s ease-in-out infinite normal;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@keyframes breathing {
  0% {
    transform: scale(1);
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  50% {
    transform: scale(1.15);
    opacity: 1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}

.image-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: transform 0.4s ease-in-out;
  z-index: 1;
}

.image-wrapper:hover .image-cover {
  transform: translateX(-100%);
}
a {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  transition: all 1s;
}
a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
  transition: all 1s;
}
